<div class="row">
  <div *ngFor="let member of members" class="col-sm-6 col-md-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <ngb-pagination
    [collectionSize]="pagination.totalItems"
    [pageSize]="pagination.itemsPerPage"
    [(page)]="pagination.currentPage"
    (pageChange)="pageChanged($event)"
    [maxSize]="5"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>
